.filter {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
}

.filter-link {
  font-size: 36px;
  line-height: 49px;
  text-decoration: none;
  color: $color-dark;

  &.active {
    color: $color-accent;
  }
}

.popup {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: pink;

  &.open {
    display: flex;
  }
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  align-items: center;
}