.form {
  width: 66.66%;
  padding: 0 15px;
  margin: 70px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.form-field {
  flex-basis: 100%;
}

.form-field-half {
  flex-basis: calc(50% - 15px);
}

.form-label {
  padding-left: 20px;
  font-size: 20px;
  color: $color-accent;
  line-height: 27px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  border-radius: 8px;
  font-family: $font;
  font-size: 20px;
  line-height: 27px;
  color: $color-dark;
  background-color: $color-light;
  border: none;
}

.form-textarea {
  height: 200px;
  resize: vertical;
}

.form-check-text {
  font-size: 20px;
  font-style: normal;
  line-height: 27px;

  a {
    color: $color-accent;
  }
}
