.menu {
  margin-right: 100px;

  @media (min-width: $desktop) {
    display: block !important;
  }

  @media (max-width: $tablet-max) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 20px;
    margin-right: 0;

    background-color: $color-dark;
    border-top: 1px solid $color-light;
  }

  ul {
    display: flex;
    gap: 30px;
    list-style: none;

    @media (max-width: $tablet-max) {
      justify-content: center;
    }

    @media (max-width: $mobile-max) {
      display: block;
      text-align: center;
    }
  }

  li {
    @media (max-width: $mobile-max) {
      margin: 20px 0;
    }
  }

  a {
    color: $color-light;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }
}