.promo {
  padding: 140px 0;
  background-color: rgba($color-light, .2);

  @media (max-width: $tablet-max) {
    padding: 90px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 60px 0;
    text-align: center;
  }
}

.promo-inner {
  @include inner;
}

.promo-wrap {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  @media (max-width: $mobile-max) {
    display: block;
  }
}

.promo-info {
  flex-basis: calc(50% - 15px);
}

.promo-title {
  margin-bottom: 70px;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  color: $color-accent;

  @media (max-width: $tablet-max) {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 33px;
  }

  @media (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 25px;
  }

  span {
    display: block;
    margin-bottom: 20px;
    font-family: $font-title;
    font-size: 116px;
    font-weight: 300;
    line-height: 136px;

    @media (max-width: $tablet-max) {
      font-size: 64px;
      line-height: 75px;
    }

    @media (max-width: $mobile-max) {
      margin-bottom: 10px;
      font-size: 54px;
      line-height: 63px;
    }
  }
}

.promo-visual {
  z-index: 2;
  position: relative;
  flex-basis: calc(50% - 15px);

  @media (max-width: $mobile-max) {
    margin-bottom: 50px;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: $color-light;
    background-color: rgba($color-dark, .7);
  }
}