//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 98px; // компенсация высоты фиксированной шапки
  // в размер фактически получившейся высоты шапки
  color: $color-dark;
  font-family: $font;

  @media (max-width: $mobile-max) {
    padding-top: 50px;
  }
}

img {
  display: block;
  max-width: 100%;
}
