@mixin inner {
  max-width: 1278px;
  margin: 0 auto;
  border: 1px solid red;

  @media (max-width: $tablet-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin section-title {
  font-family: $font-title;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
  color: $color-accent;
  font-weight: 300;

  @media (max-width: $tablet-max) {
    font-size: 48px;
    line-height: 56px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 38px;
  }
}